<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CineGraxa</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet" href="../assets/css/global.css">
</head>
<body>
    <div class="container">
        <div class="blockleft">
            <h1 class="title">CINEGRAXA</h1>
            <p class="subtitle">Bem Vindo!</p>
        </div>
        <div class="blockright">
            <button onclick="">Combos</button>
            <button onclick="">Assentos</button>
            <button onclick="">Pagamento</button>
        </div>
    </div>
</body>
</html>
